<h1>Pictures (<%= @pictures.length %>)</h1>
<h2>Most recent pictures <%=@most_recent_pictures.length%></h2>
<%= link_to("New Picture", "/pictures/new") %>

<% @most_recent_pictures.each do |picture| %>
<p> <%= picture.title %>, <%=picture.artist %></p>
<%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
<% end %>


<% @pics_by_year.each do |h| %>
  <h3>Pictures in <%= h[:year] %> </h3>
    <% h[:pics].each do |picture| %>
    <p> <%= picture.title %>, <%=picture.artist %></p>
    <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
    <% end %>
<% end %>
